<section class="container mt-2">
    <div class="row my-2">
        <div class="col-sm-12 col-md-6 col-lg-4 my-4" *ngFor="let blog of blogs">
            <div class="card bg-light px-0">
                <div class="card-header">
                    <h5 class="mb-0">{{blog.title}}</h5>
                    <small class="text-secondary ">
                        <i>Posted By : <b> {{blog.authorDetail?.name}} </b> </i>
                        <span class="float-end">{{blog.postedAt | date}}</span>
                    </small>
                </div>
                <div id="my-card" class="card-body">
                    <p [innerHTML]="blog.content"></p>
                    <small class=" py-2 text-secondary">Comments {{blog?.comments?.length}}</small>
                    <a style="cursor: pointer" class="float-end text-orange small" (click)="viewBlog(blog._id)">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>