<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark" *ngIf="authService.isLoggedIn"> -->
    <div class="container-fluid">
        <a class="navbar-brand me-5 fw-bold" routerLink="/">MY BLOG <i class="bi bi-boxes text-orange ms-2" style="font-size: 22px"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="authService.isLoggedIn">
                <li class="nav-item">
                    <a class="nav-link pb-0" aria-current="page" routerLinkActive="active" routerLink="/dashboard">All
                        Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pb-0" routerLinkActive="active" routerLink="/myBlogs">My Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pb-0" routerLinkActive="active" routerLink="/blog/create">Create New Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!authService.isLoggedIn">
                    <a class="nav-link"  routerLinkActive="active" aria-current="page" routerLink="/register">Register</a>
                </li>
                <li class="nav-item" *ngIf="!authService.isLoggedIn">
                    <a class="nav-link"  routerLinkActive="active" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="authService.isLoggedIn">
                    <button class="btn btn-danger" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>